PGUSER=postgres.mcugughqoatvrqjwvodk
PGPASSWORD='your_supabase_database_password'
PGDATABASE=postgres
PGHOST=aws-0-ap-northeast-2.pooler.supabase.com
PGPORT=5432
PGSSL=true
PORT=3001
HOST=0.0.0.0
PGSSLROOTCERT=server/certs/supabase-ca.crt
